__pycache__/

# Virtual environments
.venv/
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints

# Results and logs
results/
logs/
*.log

# working files
main.ipynb

# folders
extra/

# OS
.DS_Store
Thumbs.db
